<!doctype html>
<html ng-app="cardModule">
<!-- <meta charset="UTF-8"> -->
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	<script src="/AngularJS-Tutorial/resources/js/card.js"></script>
	
	<script>
	function CardController($scope) {
		$scope.cards = [
				{
					Title : 'Fox',
					ImgPath : 'http://img.ifcdn.com/images/861e52d9a41d42200688d022a5e298c40b9b1d25df14a2b4481f2fa8a4a3af1f_1.jpg'
				},
				{
					Title : 'Bear',
					ImgPath : 'http://orig04.deviantart.net/f74b/f/2011/109/9/b/kromdek_warbear_by_kerembeyit-d3ecz2f.jpg'
				},
				{
					Title : "Skeleton",
					ImgPath : 'http://pre12.deviantart.net/4b8f/th/pre/i/2012/124/c/7/skeleton_warrior_by_rotsentu-d4yjz13.jpg'
				} ];
	}
	</script>
</head>
<body>
	<div>
		<label>Card Filter:</label> <input type="text" data-ng-model="cardName" placeholder="Card name">
		<hr>
		<h1>AngularJS Tutorial</h1>
		<h2>Player Name: {{loginName}}!</h2>
		<div data-ng-controller="CardController">
			<div data-ng-repeat="card in cards | filter:{Title:cardName}" style="display: table-cell; padding: 6px;">
				<div>{{card.Title}}</div>
				<img src="{{card.ImgPath}}" style="width: 200px; height: 200px;" />
			</div>
		</div>
	</div>
</body>
</html>
